<p>Hi <%= user.name %>!</p>
<p><b><%= client.name %></b> is requesting access to your account for the following permissions:</p>
<% if (scope && scope.length) { %>
<ul>    
<% scope.forEach(function(scopeName){ %>
    <li><%= scopeName %></li>
<% }) %>
</ul>
<% } %>
<p>Do you approve?</p>

<form action="/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>">
  <input type="hidden" value='<%-JSON.stringify(scope)%>' name="scope" id="scope">
  <div>
  <input type="submit" value="Allow" name="allow" id="allow">
  <input type="submit" value="Deny" name="cancel" id="deny">
  </div>
</form>
